<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header>
        {{> partials/header}}    
    </header>

    <div class="m-10 mt-20">
        <h1>My Blog 1</h1>
        <h1>My Blog 3</h1>
        <h1>My Blog 5</h1>
        <h1>My Blog 7</h1>
        <h1>My Blog 9</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
        <h1>My Blog</h1>
    </div>

    <footer>
        {{> partials/footer}}
    </footer>

  </body>
</html>